# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/

# Docker
.dockerignore

# Testing
.pytest_cache/
coverage.xml
htmlcov/

# IDEs
.vscode/
.idea/

venv/
__pycache__/
*.pyc
.env
.env.*
mysql_data/
mongo_data/
node_modules/
.DS_Store
